body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    line-height: 2em;
    display: flex;
}

.input, .score, .name, .text, .btn {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    font-family: sans-serif;
    line-height: 1.5em;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 50%;
    outline: none;
}

.btn {
    color: #ffffff;
    background: #404040;
    padding: 8px;
    border: none;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.btn:hover {
    border: 1px solid #ffffff;
    transition: all 0.3s ease 0s;
}

.player {
    width: 30%;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
}

.tetris {
    border: .2em solid #404040;
    width: auto;
    height: 80%;
}

.tetris.local {
    border: .2em solid #fff;
}

.block {
    width: 100%;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.block.small {
    width: 30%;
}